body {
 color: white;
 background: black;
}
h1{
    display: block;
    max-width: 640px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    color: #ffffff;
    font-weight: 400;
}
p{
    display: block;
    font-family: 'Avenir Next Pro', sans-serif;
    color: #78909C;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    text-align: center;
    letter-spacing: normal;
}
body {
    margin: 0;
    min-height: 100%;
    background-color: #263238;
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
}
div {
 display: flex;
 flex-direction: column;
 text-align: center;
 align-items: center;
 padding: 30px;
}
input {
 width: 0.1px;
 height: 0.1px;
 opacity: 0;
 overflow: hidden;
 position: absolute;
 z-index: -1;
}
button,
label,
ul {
 width: 300px;
 box-sizing: border-box;
 border: solid 1px white;
 background: black;
 color: white;
 font-size: 24px;
 margin: auto;
 padding: 10px;
}
img {
 width: 300px;
 margin-bottom: 25px;
}
ul {
 list-style: none;
 padding: 10px;
 margin-bottom: 25px;
}
